{{define "title"}}pngtile :: {{.Name}}{{end}}
{{define "link"}}
  <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/app/pngtile.css">
  <link rel="stylesheet" href="/static/node_modules/leaflet/dist/leaflet.css">
{{end}}
{{define "body"}}
  <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/static/node_modules/leaflet/dist/leaflet.js"></script>
  <script src="/static/app/pngtile.js"></script>

  <div id="view">

  </div>
  <script>
      $(function () {
          map_init('view', {{.Config}});
      });
  </script>
{{end}}
